* {
    margin: 0px;

}
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:wght@700&display=swap');
body h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.header-area{
    background-color: #2c3e50;
    width: 100%;
    height: 79px;
    padding-top: 30px;
}
.logo-area{
    width: 40%;
    float: left;
}
.logo-area h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 37px;
    margin-top: -4px;
}
.menu-area {
    width: 41%;
    float: right;
    
}
.menu-area ul li{
    display: inline-block;
    padding: 5px 10px;
}
.menu-area ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.menu-area ul li a:hover{
    color: rgb(5, 168, 5);
}

/* ===================================================
        Hero Area
=================================================*/
.hero-area{
    width: 100%;
    height: 600px;
    background:#1abc9c;
    padding-top: 60px;
}
.content{
    text-align: center;
}
.content img{
    width:300px;
    height: 300px;
}
.content h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content h3{
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    font-weight: 500;
}
.icon{
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.icon::before {
    content: "";
    width: 115px;
    height: 4px;
    position: absolute;
    top: 27px;
    left: 38%;
    background: #fff;
    border-radius: 5px;
}
.icon::after {
    content: "";
    width: 115px;
    height: 4px;
    position: absolute;
    top: 27px;
    right: 38%;
    background: #fff;
    border-radius: 5px;
}
.portfolio-area{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.portfolio-area h2{
    font-size: 35px;

}
.icon-black{
    color: #000;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.icon-black::before {
    content: "";
    width: 115px;
    height: 4px;
    position: absolute;
    top: 27px;
    left: 38%;
    background: #000;
    border-radius: 5px;
}
.icon-black::after {
    content: "";
    width: 115px;
    height: 4px;
    position: absolute;
    top: 27px;
    right: 38%;
    background: #000;
    border-radius: 5px;
}
.box{
    width: 31%;
    float: left;
    margin-left: 13px;
    margin-right: 13px;
    position: relative;
    margin-top: 20px;
}
.box img{
    width: 100%;
    border-radius: 10px;
}
.box::before{
    content: "+";
    width: 100%;
    height: 72%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1abc9c;
    opacity: 0.8;
    border-radius: 10px;
    color: #fff;
    font-size: 92px;
    padding-top: 78px;
    font-weight: bold;
    display: none;
}
.box:hover::before{
    display: block;
    cursor: pointer;
}